# Transformation & Scalling

1. Normalization & standardization
2. Scaling to Minimum and Maximum
3. Scaling to Median and Quantiles
4. Gaussian Transformation
* Logarithmoc transformation
* Reciprocal transformation
* Squar root transformation
* Exponential transformation
* Box Cox transformation

In [5]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os

from sklearn.impute import SimpleImputer

## Scaling

### standardization

It was tried to bring all the variables/features to a similar scale. Standardization means centering the variable at zero. 

z=(x - x_mean)/std

In [2]:
data = pd.read_csv('https://raw.githubusercontent.com/krishnaik06/Feature-Engineering-Live-sessions/master/titanic.csv', usecols=['Pclass', 'Age', 'Fare', 'Survived'])

In [19]:
df01 = data.copy()
df01.tail()

     Survived  Pclass   Age   Fare
886         0       2  27.0  13.00
887         1       1  19.0  30.00
888         0       3   NaN  23.45
889         1       1  26.0  30.00
890         0       3  32.0   7.75

In [20]:
df01.isna().sum()

Survived      0
Pclass        0
Age         177
Fare          0
dtype: int64

In [21]:
# It is required to fill the NAN values in the age - In this case, we applied the constant technique to fill NAN
imp_median = SimpleImputer(missing_values=np.nan, strategy='median')
df01['Age'] = imp_median.fit_transform(df01[['Age']])

In [22]:
df01.isna().sum()

Survived    0
Pclass      0
Age         0
Fare        0
dtype: int64

In [23]:
df01.tail()

     Survived  Pclass   Age   Fare
886         0       2  27.0  13.00
887         1       1  19.0  30.00
888         0       3  28.0  23.45
889         1       1  26.0  30.00
890         0       3  32.0   7.75